h1,h2 {
  color: brown;
font-family: arial;
font-size: 25px
}
body {
  background-color: rosybrown;
}
.isi {
  display: flex;
}
.Untuk {
  margin-left: 10px;
  text-align: justify;
  margin-right: 10px;

}
.gambar2 {
  width: 40%;
}
.Kalau {
  margin-left: 10px;
  text-align: justify;
  margin-right: 10px;
}

.isi {
  display: flex;
}
.gambar1 {
  width: 30%;
}
.isi {
  display: flex;
}
.gambar3 {
  width: 40%;
}
.Sibuk {
  margin-left: 10px;
  text-align: justify;
  margin-right: 10px;
}
.isi {
  display: flex;
}
.Setelah {
  margin-left: 10px;
  text-align: justify;
  margin-right: 10px;
}
.gambar5 {
  width: 30%;
}
.Setelah {
  margin-left: 10px;
  text-align: justify;
  margin-right: 10px;
}
.gambar6 {
  width: 30%;
}
.isi {
  display: flex;
}
.gambar4 {
  width: 40%;
}
.isi {
  display: flex;
}
.Apapun {
  margin-left: 10px;
  text-align: justify;
  margin-right: 10px;
}
.isi {
  display: flex;
}
.prosedur {
  margin-left: 10px;
  text-align: justify;
  margin-right: 10px;
}
.prosedur {
  margin-left: 10px;
  text-align: justify;
  margin-right: 10px;
}
.isi {
  display: flex;
}